<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<title>爱意墙</title>
	<link rel="stylesheet" type="text/css" href="../css/api.css" />
	<link rel="stylesheet" type="text/css" href="../css/loving_list.css" />

</head>

<body>
	<div id="app" v-cloak>
		<div id="wrap" class="flex-wrap flex-vertical">
			<header id="header">
				<div class="header-wrap">
					<div class="header-left">
						<i onclick="api.closeWin();" class="iconfont icon-fanhui"></i>
					</div>
					<h1 class="title">爱意墙详情</h1>
					<div class="header-right">
						<span @click="openlovingdetailhelp()">帮助</span>
					</div>
				</div>
			</header>
			<div id="main" class="flex-con">
				<div class="contentlistall" style="padding:0">
					<div class="content" style="margin:0;padding:10px;position: fixed;width: 100%;height: 200px;">
						<div class="toptime">
							<span class="time">{{info.created_at | timeFormat}}</span>
						</div>
						<div class="gifts flex-wrap">
							<ul class="flex-wrap">
								<li class="infolist">
									<div class="box" @click="openMemberDetail(info.member.member_id)">
										<div class="imgbox1">
											<img :src="info.member.avatar" alt="">
										</div>
										<span class="name">{{info.member.name}}</span>
									</div>
								</li>
								<li class="song">送</li>
								<li class="gifts">
									<div class="giftbox flex-wrap" v-if="info.gifts != ''">
										<div class="boxsize">
											<img :src="info.gifts.file" alt="">
										</div>
										<span>x{{info.gift_size}}</span>
									</div>
									<div class="giftmoney flex-wrap">
										<span>{{info.gifts.gold*info.gift_size}}</span>
										<div class="zuanbox">
											<img src="../image/zuanshi.png" alt="">
										</div>
									</div>
								</li>
								<li class="song">给</li>
								<li class="infolist">
									<div class="box" @click="openMemberDetail(info.to_member.member_id)">
										<div class="imgbox1">
											<img :src="info.to_member.avatar" alt="">
										</div>
										<span class="name">{{info.to_member.name}}</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="pinglun" style="margin-bottom:0">
							<p v-if="info.description != null">并想对她说：{{info.description}}</p>
						</div>
					</div>
				</div>
				<div class="contentlist">
					<div class="nums flex-wrap">
						<div @click="getpinglunlist(1)" :class="['pinglunnum',activeIndex == 1 ? 'numSelected' : '']">
							<i class="iconfont icon-comment"></i> 评论
						</div>
						<div @click="getpinglunlist(2)" :class="['pinglunnum',activeIndex == 2 ? 'numSelected' : '']">
							<i class="iconfont icon-xin"></i> 祝福
						</div>
						<div @click="getpinglunlist(3)" :class="['pinglunnum',activeIndex == 3 ? 'numSelected' : '']">
							<i class="iconfont icon-gift"></i> 礼物
						</div>
					</div>
					<div id="pl" v-if="activeIndex == 1">
						<div v-if="comentList ==''" class="empty-data">
							<img class="empty-img" src="../image/empty.png">
							<div class="empty-text">暂无评论~</div>
						</div>
						<div class="pingluns flex-wrap" v-for="(item,index) in comentList" :key="item.id">
							<div class="info">
								<div class="infobox" @click="openMemberDetail(item.member.member_id)">
									<img :src="item.member.avatar" alt="">
								</div>
							</div>
							<div class="infoname">
								<span class="yonghu">{{item.member.name}}</span>
								<p>{{item.description}}</p>
							</div>
							<div class="infotime">
								<span>{{item.created_at | timeFormat}}</span>
							</div>
						</div>
					</div>
					<div id="point" v-if="activeIndex == 2">
						<div v-if="pointList ==''" class="empty-data">
							<img class="empty-img" src="../image/empty.png">
							<div class="empty-text">暂无祝福~</div>
						</div>
						<div class="pingluns flex-wrap" v-for="(item1,index1) in pointList" :key="item1.id">
							<div class="info">
								<div class="infobox" @click="openMemberDetail(item1.member.member_id)">
									<img :src="item1.member.avatar" alt="">
								</div>
							</div>
							<div class="infoname">
								<span class="yonghu" style="line-height:30px">{{item1.member.name}}</span>
							</div>
							<div class="infotime">
								<span>{{item1.created_at | timeFormat}}</span>
							</div>
						</div>
					</div>
					<div id="gift" class="giftlist" v-if="activeIndex == 3">
						<div v-if="giftList ==''" class="empty-data">
							<img class="empty-img" src="../image/empty.png">
							<div class="empty-text">暂无礼物~</div>
						</div>
						<div class="giftinfo flex-wrap" v-for="(item,index) in giftList" :key="item.id">
							<div class="membername">
								<div class="infobox">
									<img :src="item.member.avatar" alt="">
								</div>
								<p>{{item.member.name}}</p>
							</div>
							<div class="membername">
								<span class="title">赠送</span>
							</div>
							<div class="membername">
								<div class="infobox">
									<img :src="item.gifts.file" alt="">
									<div class="flex-wrap">
										<span>{{item.gifts.gold}}</span>
										<div class="zuanbox">
											<img src="../image/zuanshi.png" alt="">
										</div>
									</div>
								</div>
								<p v-if="item.description != null && item.description !=''">并想对她说：{{item.description}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="pinglun_ipt">
					<span @click="openGift_frame" class="left"><i class="iconfont icon-gift"></i></span>
					<input v-model="pinglun" type="text">
					<span class="right" @click="sendBtn">发送</span>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script>
	var app;
	apiready = function () {
		$api.fixStatusBar($api.dom('#header'));
		app = new Vue({
			el: '#app',
			data: {
				activeIndex: 1,
				pinglun: '',
				info: {
					created_at: '',
					description: '',
					member: {
						avatar: '',
						name: ''
					},
					to_member: {
						avatar: '',
						name: ''
					},
					gifts: {
						gold: '',
						file: ''
					}
				},
				comentList: [{
					description: '',
					created_at: '',
					member: {
						name: '',
						avatar: ''
					}
				}],
				pointList: [{
					created_at: '',
					member: {
						name: '',
						avatar: ''
					}
				}],
				giftList: [{
					gifts: {
						name: '',
						file: '',
						gold: '',
						description: ''
					},
					member: {
						name: '',
						avatar: ''
					}
				}]

			},
			created: function () {
				var _this = this;
				api.addEventListener({
					name: 'giftlist'
				}, function (ret, err) {
					_this.getlovingList('gift_list');
				});
			},
			mounted: function () {
				this.getlovingList('comment_list');
			},
			methods: {
				getlovingList: function (statusValue, value) {
					var _this = this;
					api.showProgress({
						title: '',
						text: ''
					});
					$$.ajaxData('LovesComment', {
						uid: $api.getStorage('uid'),
						loves_id: api.pageParam.id,
						status: statusValue,
						description: value,
						type: 10,
					}, function (ret, err) {
						api.hideProgress();
						if (ret.status) {
							if (statusValue == "comment_list") {
								_this.info = ret.extra;
								_this.comentList = ret.data.data;
							} else if (statusValue == "point_list") {
								_this.pointList = ret.data.data;
							} else if (statusValue == "gift_list") {
								_this.giftList = ret.data.data;
							} 
						}
					})
				},
				getpinglunlist: function (i) {
					var _this = this;
					_this.activeIndex = i;
					if (_this.activeIndex == 1) {
						_this.getlovingList('comment_list');
					} else if (_this.activeIndex == 2) {
						_this.getlovingList('point_list');
					} else if (_this.activeIndex == 3) {
						_this.getlovingList('gift_list');
					}
				},
				sendBtn: function () {
					var _this = this;
					if (this.pinglun == '') {
						api.toast({
							msg: '请输入评论内容',
							duration: 2000,
							location: 'bottom'
						});
						return false;
					}
					_this.getlovingList('add', this.pinglun);
					_this.comentList.push({
						description: this.pinglun,
						created_at: new Date().getTime(),
						member: {
							avatar: $api.getStorage('uavatar'),
							name: $api.getStorage('uname')
						}
					});
					_this.pinglun = '';
					api.sendEvent({
						name: 'refresh_loving_list',
					});
				},
				openGift_frame: function () {
					var _this = this;
					api.openFrame({
						name: 'gifts_frame_loving',
						url: 'gifts_frame_loving.html',
						rect: {
							x: 0,
							y: 0,
							w: api.winWidth,
							h: api.winHeight
						},
						pageParam: {
							gold: _this.info.myinfo.gold,
							loves_id: api.pageParam.id,
							costtype: 3,
						}
					});
				},
				openlovingdetailhelp: function () {
					api.alert({
						title: '帮助',
						msg: '为避免广告，爱意评论收1钻石每条，与送礼物者为密友不收钻石，点赞与礼物评论不收钻石。',
						buttons: ['知道了']
					});
					return false;
				},
				openMemberDetail: function (id) {
					api.openWin({
						name: 'member',
						url: 'member_detail.html',
						slidBackEnabled: false,
						pageParam: {
							member_id: id
						}
					});
				},
			},
			filters: {
				timeFormat: function (value) {
					var now = new Date().getTime(),
						oldTime = new Date(value).getTime(),
						difference = now - oldTime;
					result = '',
						minute = 1000 * 60,
						hour = minute * 60,
						day = hour * 24,
						halfamonth = day * 15,
						month = day * 30,
						year = month * 12,
						_year = difference / year,
						_month = difference / month,
						_week = difference / (7 * day),
						_day = difference / day,
						_hour = difference / hour,
						_min = difference / minute;
					if (_year >= 1) {
						result = ~~(_year) + " 年前"
					} else if (_month >= 1) {
						result = ~~(_month) + " 个月前"
					} else if (_week >= 1) {
						result = ~~(_week) + " 周前"
					} else if (_day >= 1) {
						result = ~~(_day) + " 天前"
					} else if (_hour >= 1) {
						result = ~~(_hour) + " 小时前"
					} else if (_min >= 1) {
						result = ~~(_min) + " 分钟前"
					} else result = "刚刚";
					return result;
				},
			}
		})
	}
</script>

</html>