<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title>Ta的个人中心</title>
  <link rel="stylesheet" type="text/css" href="../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../css/myinfo.css" />
</head>

<body>
  <div id="app" v-cloak>
    <div id="wrap" class="flex-wrap flex-vertical">
      <header id="header" :style="opacityStyle">
        <div class="header-wrap">
          <div class="header-left">
            <i class="iconfont icon-fanhui" @click="close"></i>
          </div>
          <span class="title">{{myInfo.name}}</span>
          <div class="header-right">
            <i class="iconfont icon-gengduo" @click="openMore"></i>
          </div>
        </div>
      </header>
      <div class="portrait">
        <img :src="myInfo.avatar" alt="" class="portrait-img">
        <div class="play" v-if="myInfo.audio !=null && myInfo.audio !=''">
          <img :src="audioIcon" alt="" v-if="audioIcon == '../image/playing.gif'" @click="stopaudio">
          <img :src="audioIcon" alt="" v-if="audioIcon == '../image/stop.png'" @click="playVoice(myInfo.audio)">
        </div>
        <div class="play" v-else>
          <img :src="audioIcon" alt="">
        </div>
        <div @click="popCl" class="profess">
          <div class="box1">
            <span>表白Ta</span>
          </div>
          <div class="box2">
            <img src="../image/biaobai.png" alt="">
          </div>
        </div>
        <div class="pop" v-show="popShow">
          <div class="pop-content">
            <div class="pop-header">
              <img :src="myInfo.avatar" alt="">
            </div>
            <p style="margin-top:20px;">轻松约第一步</p>
            <p style="margin-bottom:20px;">表白Ta送礼物</p>
            <div class="btn biaobai" @click="openGift_frame">表白Ta</div>
            <div class="btn likai" @click="pophide">默默离开</div>
          </div>
        </div>
        <div class="nameId1">
          <span class="id">约ID:{{myInfo.member_random_id}}</span>
          <span class="sty sty1" v-if="myInfo.RandomIdStatus == 1"><img src="../image/liang.png" alt="" style="width:100%;margin-bottom: -3px;"></span><span
            class="sty sty2" v-if="myInfo.RandomIdStatus == 2"><img src="../image/shen.png" alt="" style="width:100%;margin-bottom: -3px;"></span>
          <p>
            <span class="sex sex1" v-if="myInfo.sex==1">
              <i class="iconfont icon-nan"></i>{{myInfo.age}}
            </span>
            <span class="sex sex2" v-else>
              <i class="iconfont icon-nv"></i>{{myInfo.age}}
            </span>
            <span class="box33" v-if="myInfo.sex==1" style="margin-right:5px;">
              <img :src="level_info.member_wealth_level_icon" alt="" style="height:80%;margin-bottom:-3px;" />
            </span>
            <span class="box33" style="margin-right:8px;" v-else>
              <img :src="level_info.member_charm_level_icon" alt="" style="height:150%;margin: 0 2px -12px -4px" />
            </span>
            <span class="box33" v-if="myInfo.level == 1" style="margin:0 8px 0 -10px;">
              <img class="vip1" src="../image/VIP.png" alt="" style="height:70%;margin-bottom: -2px">
            </span>
            <span class="box33" v-if="myInfo.masterwork_identification == 6" style="margin:0  4px 0 -7px">
              <img src="../image/ji.png" alt="" style="height:66%;margin-bottom: -2px">
            </span>
            <span v-if="myInfo.status == 0" class="status-info"><img src="../image/outline.png" alt=""></span>
            <span v-if="myInfo.status == 4 && myInfo.fake_status == 2" class="status-info"><img src="../image/outline.png"
                alt=""></span>
            <span v-if="myInfo.status == 1 && myInfo.fake_status == 0" class="status-info"><img src="../image/online.png"
                alt=""></span>
            <span v-if="myInfo.status == 1 && myInfo.fake_status == 2" class="status-info"><img src="../image/online.png"
                alt=""></span>
            <span v-if="myInfo.status == 1 && myInfo.fake_status == 3" class="status-info"><img src="../image/online.png"
                alt=""></span>
            <span v-if="myInfo.status == 4 && myInfo.fake_status == 0" class="status-info"><img src="../image/manglu.png"
                alt=""></span>
            <span v-if="myInfo.status == 4 && myInfo.fake_status == 3" class="status-info"><img src="../image/manglu.png"
                alt=""></span>
            <span v-if="myInfo.status == 1 && myInfo.fake_status == 1" class="status-info"><img src="../image/wurao.png"
                alt=""></span>
            <span v-if="myInfo.status == 4 && myInfo.fake_status == 1" class="status-info"><img src="../image/wurao.png"
                alt=""></span>
          </p>
        </div>
      </div>
      <div class="pop" v-show="popShow1">
        <div class="pop-content">
          <div class="pop-header">
            <img :src="myInfo.avatar" alt="">
          </div>
          <p style="margin:20px 0;">Ta的微信价格：{{myInfo.wechat_price}}</p>
          <div class="btn biaobai" @click="openPayFrame(myInfo)">支付</div>
          <div class="btn likai" @click="pophide1">默默离开</div>
        </div>
      </div>
      <div class="nameInfo">
        <ul class="flex-wrap">
          <li>
            <div v-if="myInfo.wechat_identification == 6" @click="popCl1">
              <span class="box box1">
                <img src="../image/weixin.png" alt="">
              </span>
              <p>获取微信</p>
            </div>
            <div v-else @click="getwechat">
              <span class="box">
                <img src="../image/weixin.png" alt="">
              </span>
              <p>微信认证</p>
            </div>
          </li>
          <li>
            <div v-if="myInfo.video_identification  == 6">
              <span class="box">
                <img src="../image/videos.png" alt="">
              </span>
              <p>成功认证</p>
            </div>
            <div v-else>
              <span class="box">
                <img src="../image/videos.png" alt="">
              </span>
              <p>视频认证</p>
            </div>
          </li>
          <li>
            <div v-if="myInfo.masterwork_identification == 6">
              <span class="box">
                <img src="../image/jipinren.png" alt="">
              </span>
              <p>极品已认证</p>
            </div>
            <div v-else>
              <span class="box">
                <img src="../image/jipinren.png" alt="">
              </span>
              <p>极品认证</p>
            </div>
          </li>
          <li v-if="myInfo.sex == 1">
            <span class="box">
              <img :src="level_info.member_wealth_level_icon" alt="" />
            </span>
            <p class="labelname">{{level_info.member_wealth_level}}</p>
          </li>
          <li v-else>
            <span class="box">
              <img :src="level_info.member_charm_level_icon" style="width:70px;height:70px;margin-top:-14px;margin-left:-20px"
                alt="" />
            </span>
            <p class="labelname1">{{level_info.member_charm_level}}</p>
          </li>
        </ul>
      </div>
      <div class="photo" v-if="pictures != ''">
        <div class="photo-con">
          <ul class="flex-wrap">
            <li v-if="index1<4" v-for="(item1,index1) in pictures" :key="item1.id" @click="getPhotoBrowser(index1)">
              <img :src="item1.photo" alt="">
            </li>
          </ul>
        </div>
      </div>
      <div class="aui-tab flex-wrap" id="tab">
        <div class="aui-tab-item tapmode " @click="afferent(1)" v-bind:class="{active:indexOf==1}">资料</div>
        <div class="aui-tab-item tapmode" @click="afferent(2)" v-bind:class="{active:indexOf==2}">视频</div>
        <div class="aui-tab-item tapmode" @click="afferent(3)" v-bind:class="{active:indexOf==3}">动态</div>
        <div class="aui-tab-item tapmode" @click="afferent(4)" v-bind:class="{active:indexOf==4}">求约</div>
      </div>
      <div class="labels" v-show="indexOf==1">
        <p style="margin-bottom:10px;color: #868282">Ta的技能</p>
        <div class="content">
          <span class="biaoti" v-if="myInfo.sale_column == null || myInfo.sale_column == ''">暂无技能信息</span>
          <span class="biaoti" v-else>{{myInfo.sale_column}}</span>
        </div>
      </div>
      <div class="personaldata flex-wrap" v-show="indexOf==1">
        <ul>
          <li>
            <span class="items">魅力标签</span>
            <div class="content">
              <span v-for="(tagitem,labelindex) in labelList" :key="tagitem.id" class="zhuanxian">{{tagitem.tag}}</span>
            </div>
          </li>
          <li>
            <span class="items" v-if="myInfo.sex==2">入驻版块</span>
            <span class="items" v-if="myInfo.sex==1">展示版块</span>
            <span class="content" v-if="liveLabel == ''||liveLabel == null">暂无</span>
            <div class="content" v-else>
              <span v-for="(liveitem,liveindex) in liveLabel" :key="liveitem.id" class="zhuanxian">{{liveitem.parent_category}}</span>
            </div>
          </li>
          <li>
            <span class="items">喜欢类型</span>
            <div class="content">
              <span v-for="(likeitem,liveindex) in like_type_s" :key="likeitem.id" class="zhuanxian">{{likeitem.tag}}</span>
            </div>
          </li>
          <li>
            <span class="items">职业</span>
            <div class="content">
              <span v-for="(occupationitem,occupationindex) in occupation_s" :key="occupationitem.id" class="zhuanxian">{{occupationitem.tag}}</span>
            </div>
          </li>
          <li>
            <span class="items">身高/体重</span>
            <span class="content" v-if="myInfo.height == 0 || myInfo.height == null">暂无</span>
            <span class="content" v-else-if="myInfo.weight == 0 || myInfo.weight == null">暂无</span>
            <span class="content" v-else>{{myInfo.height}}cm/{{myInfo.weight}}kg</span>
          </li>
          <li v-if="myInfo.sex==2">
            <span class="items">三围</span>
            <span class="content" v-if="myInfo.bwh == '' || myInfo.bwh == null">暂无</span>
            <span class="content" v-else>{{myInfo.bwh}}</span>
          </li>
          <li>
            <span class="items">年龄</span>
            <span class="content">{{myInfo.age}}岁</span>
          </li>
          <li>
            <span class="items">地区</span>
            <span class="content">{{myInfo.city}}</span>
          </li>
          <li>
            <span class="items">接通率</span>
            <span class="content">{{myInfo.connection}}%</span>
          </li>
          <li>
            <span class="items">好评率</span>
            <span class="content xingping">
              <i class="iconfont icon-jiangzhang"></i>{{myInfo.star}}%</span>
          </li>
        </ul>
      </div>
      <div class="gifts" v-show="indexOf==1">
        <div v-if="liwu ==''" class="empty-data">
          <img class="empty-img" src="../image/empty.png">
          <div class="empty-text">成为第一个送Ta礼物的人~</div>
        </div>
        <div v-else class="gift-con">
          <ul>
            <li v-for="(item2,index2) in liwu" :key="item2.id">
              <div class="imgbox">
                <img :src="item2.gifts[0].file" alt="">
              </div>
              <span>x{{item2.number}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="photo" v-show="indexOf==2">
        <div v-if="!audios" class="empty-data">
          <img class="empty-img" src="../image/empty.png">
          <div class="empty-text">暂无视频~</div>
        </div>
        <div v-else class="photo-con1">
          <ul class="flex-wrap">
            <li v-for="(item1,index1) in audios" :key="item1.id" @click="openvedio_detail(item1.file)">
              <img :src="item1.photo" alt="">
              <div class="box12">
                <img src="../image/video.png" alt="">
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="labels" v-show="indexOf==3" style="padding-bottom:50px;">
        <div v-if="dongtai ==''" class="empty-data">
          <img class="empty-img" src="../image/empty.png">
          <div class="empty-text">暂无动态~</div>
        </div>
        <div class="content" v-for="(item3,index3) in dongtai" :key="item3.id" style="margin-top:8px;border-bottom:1px solid #c2c8ca"
          v-if="item3.description !='我的相册上传照片写入'">
          <div class="content">
            <div class="text" v-if="item3.description !='我的视频上传视频写入'">{{item3.description}}</div>
            <div class="media" v-if="item3.type == 1">
              <div class="imgBox"><img v-if="!!item3.images" :src="item3.images" alt="" @click="getPhotoBrowser1(index3)"></div>
              <div @click="playVoice1(item3.audio,index3)" class="voice-wrap">
                <img :src="item3.audioIcon1" alt="">
                <span>{{item3.audio_timer}}"</span>
              </div>
            </div>
            <div class="media1" v-if="item3.type == 2">
              <div class="imgBox"><img :src="item3.photo" alt="" @click="openvedio_detail(item3.file)">
                <div class="box12" @click="openvedio_detail(item3.file)">
                  <img src="../image/video.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="info">
            <span class="time">{{item3.created_at | timeFormat}}</span>
            <span class="pinglun">
              <span @click="openDynamicDetail(item3.id)">
                <i class="iconfont icon-comment"></i> {{item3.view_size}}</span>
              <span :class="[item3.is_like == 1 ? 'is_like' : '']" @click="like(item3.id, index3)">
                <i class="iconfont icon-dianzan"></i> {{item3.like_size}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="labels" v-show="indexOf==4" style="padding-bottom:50px;">
        <div v-if="qiuyue ==''" class="empty-data">
          <img class="empty-img" src="../image/empty.png">
          <div class="empty-text">暂无求约~</div>
        </div>
        <div class="info" v-for="(item4,index4) in qiuyue" :key="item4.id" v-if="item4.type != 4" style="width:100%; margin-top:8px;border-bottom:1px solid #c2c8ca"
          @click="opendatedetails(item4.id,item4.member_id,item4.type)">
          <div class="name">
            <span>个人信息</span>我在{{myInfo.city}},今年{{myInfo.age}}岁,
            <p>身高{{myInfo.height}}cm,职业<span v-if="occupation_s == null || occupation_s == ''" style="font-size:14px;color:#000"></span>暂无<span
                v-else>{{occupation_s[0].tag}}</span></p>
          </div>
          <div class="label">
            <span v-if="item4.type ==1">约游类型</span><span v-if="item4.type ==2">约会类型</span><span v-if="item4.type ==3">约拍类型</span>{{item4.style_s}}
          </div>
          <div class="label">
            <span v-if="item4.type ==1">约游时间</span><span v-if="item4.type ==2">约会时间</span><span v-if="item4.type ==3">约拍时间</span>{{item4.time}}
          </div>
          <div class="label">
            <span v-if="item4.type ==1">约游地点</span><span v-if="item4.type ==2">约会地点</span><span v-if="item4.type ==3">约拍地点</span>{{item4.adress}}
            <span class="right">详情
              <i class="iconfont icon-xiangyou"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <ul>
        <li class="footer-phone" @click="call('voiceCall')">
          <i class="iconfont icon-call"></i>
          <span>{{myInfo.price}}</span>
          <div class="zuanshibox">
            <img src="../image/zuanshi.png" alt="">
          </div>
          <span>/分钟</span>
        </li>
        <li class="xiaoxi" @click="openIm" style="border-right:1px solid #ecdcdc">
          <i class="iconfont icon-pinglun"></i>
          <span>私聊</span>
        </li>
        <li class="xiaoxi" @click="guanzhu">
          <p v-if="extra.follow == 1"><i class="iconfont icon-guanzhu2"></i>已关注</p>
          <p v-else><i class="iconfont icon-guanzhu1"></i>关注</p>
        </li>
      </ul>
    </footer>
    <div v-if="giveGiftNotice.length > 0" class="give-gift-notice-private-wrap notice1">
      <div v-for="(item, index) in giveGiftNotice" :key="index" class="notice-item">
        <div class="notice-info">
          <div class="fromName">{{item.fromName}}</div>
          <div class="giftName">送出<span>{{item.GiftName}}</span></div>
        </div>
        <div class="notice-img">
          <div class="giftImg">
            <img :src="item.GiftImg" alt="">
          </div>
          <div class="giftNumber">x{{item.GiftNumber}}</div>
        </div>
      </div>
    </div>
  </div>
  <div id="svgaCanvas"></div>
  <div id="svgaCanvas_tips"></div>
</body>

</html>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/svga.min.js"></script>
<script type="text/javascript">
  var app;
  apiready = function () {
    $api.fixStatusBar($api.dom('#header'));
    var player = new SVGA.Player('#svgaCanvas');
    var parser = new SVGA.Parser('#svgaCanvas');
    app = new Vue({
      el: '#app',
      data: {
        labelList: [],
        like_type_s: [],
        pictures: [],
        audios: [],
        liwu: [],
        dongtai: [{
          type: '',
          description: '',
          images: '',
          audio: '',
          audio_timer: '',
          created_at: '',
          timeFormat: '',
          comment_size: '',
          is_like: '',
          like_size: '',
          id: '',
          photo: '',
          file: '',
          audioIcon1: '../image/stop11.png',
        }],
        qiuyue: [],
        level_info: {},
        liveLabel: [],
        occupation_s: [],
        myInfo: {},
        extra: {},
        sharelist: {
          id: '',
          title: '',
          content: '',
          url: '',
          img: ''
        },
        audio: '',
        audio_timer: '',
        voiceGif: false,
        audioIcon: '../image/stop.png',
        audioIcon1: '../image/stop11.png',
        audioUrl: '',
        qiniuToken: '',
        indexOf: '1',
        popShow: false,
        popShow1: false,
        opacityStyle: {
          opacity: 0.4
        },
        mytime: '',
        chars: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I',
          'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'
        ],
        res: [],
        giveGiftNotice: []
      },
      created: function () {
        var _this = this;
        api.addEventListener({
          name: 'gift2list'
        }, function (ret, err) {
          _this.getMemberInfo();
        });
        api.addEventListener({
          name: 'refresh_member_detail'
        }, function (ret, err) {
          _this.popShow = false
        });
        api.addEventListener({
          name: 'give_gift_notice_self'
        }, function (ret, err) {
          if (ret.value.GiftSvga != '') {
            $api.text($api.byId('svgaCanvas_tips'), ret.value.fromName + '送' + ret.value.toName + ret.value
              .GiftName + 'x' + ret.value.GiftNumber);
            $api.css($api.byId('svgaCanvas'), 'display: block;');
            $api.css($api.byId('svgaCanvas_tips'), 'display: block;');
            parser.load(ret.value.GiftSvga, function (videoItem) {
              player.loops = 1;
              player.setVideoItem(videoItem);
              player.startAnimation();
              player.onFinished(function () {
                $api.css($api.byId('svgaCanvas'), 'display: none;');
                $api.css($api.byId('svgaCanvas_tips'), 'display: none;');
              });
            })
          } else {
            if (parseInt(ret.value.GiftGold) * parseInt(ret.value.GiftNumber) < 1000) {
              _this.giveGiftNotice.push({
                fromName: ret.value.fromName,
                GiftName: ret.value.GiftName,
                GiftImg: ret.value.GiftImg,
                GiftNumber: ret.value.GiftNumber,
              })
              setTimeout(function () {
                _this.giveGiftNotice.pop();
              }, 5000);
            } else {
              api.openFrame({
                name: 'give_gift_notice_frame',
                url: 'give_gift_notice_frame.html',
                bounces: false,
                rect: {
                  x: 0,
                  y: 200,
                  w: api.winWidth,
                  h: 200
                },
                pageParam: {
                  type: 'private',
                  con: ret.value
                }
              });
              setTimeout(function () {
                api.closeFrame({
                  name: 'give_gift_notice_frame'
                });
              }, 5000);
            }
          }
        });
      },
      mounted: function () {
        var _this = this;
        _this.getMemberInfo();
        _this.getShareContent();
        window.addEventListener('scroll', this.handleScroll);
      },
      methods: {
        handleScroll: function () {
          const top = document.body.scrollTop
          if (top > 300) {
            var opacity = top / 120
            opacity = opacity > 1 ? 1 : opacity
            this.opacityStyle.opacity = opacity
            $api.css($api.byId('header'), 'background-color:#fff');
          }
          if (top < 300) {
            var opacity = 0.4
            this.opacityStyle.opacity = opacity
            $api.css($api.byId('header'), 'background: none');
          }
          if (top > 320) {
            $api.css($api.byId('tab'), 'position: fixed;top:60px;z-index:1000');
          }
          if (top < 320) {
            $api.css($api.byId('tab'), 'position: static;');
          }
        },
        getPhotoBrowser: function (index) {
          var _this = this;
          var phoneImg = [];
          for (var i = 0; i < _this.pictures.length; i++) {
            phoneImg.push(_this.pictures[i].photo);
          }
          var photoBrowser = api.require('photoBrowser');
          photoBrowser.open({
            images: phoneImg,
            placeholderImg: 'widget://image/image_pre.png',
            bgColor: '#000',
            activeIndex: index,
            zoomEnabled: false
          }, function (ret, err) {
            if (ret) {
              if (ret.eventType == 'click') {
                photoBrowser.close();
              }
            }
          });
        },
        getPhotoBrowser1: function (index) {
          var _this = this;
          var phoneImg = [];
          for (var i = 0; i < _this.dongtai.length; i++) {
            phoneImg.push(_this.dongtai[i].images);
          }
          var photoBrowser = api.require('photoBrowser');
          photoBrowser.open({
            images: phoneImg,
            placeholderImg: 'widget://image/image_pre.png',
            bgColor: '#000',
            activeIndex: index,
            zoomEnabled: false
          }, function (ret, err) {
            if (ret) {
              if (ret.eventType == 'click') {
                photoBrowser.close();
              }
            }
          });
        },
        getMemberInfo: function () {
          var _this = this;
          api.showProgress({
            title: '',
            text: ''
          });
          $$.ajaxData('Profile', {
            member_id: api.pageParam.member_id,
            uid: $api.getStorage('uid'),
          }, function (ret, err) {
            api.hideProgress();
            if (ret.status) {
              _this.myInfo = ret.data;
              _this.labelList = ret.data.character_tags_s;
              _this.pictures = ret.data.member_photo;
              _this.audios = ret.data.member_video;
              _this.dongtai = [];
              for (var i = 0; i < ret.data.member_dynamic.length; i++) {
                _this.dongtai.push({
                  description: ret.data.member_dynamic[i].description,
                  photo: ret.data.member_dynamic[i].photo,
                  audio: ret.data.member_dynamic[i].audio,
                  images: ret.data.member_dynamic[i].images,
                  audio_timer: ret.data.member_dynamic[i].audio_timer,
                  created_at: ret.data.member_dynamic[i].created_at,
                  timeFormat: ret.data.member_dynamic[i].timeFormat,
                  comment_size: ret.data.member_dynamic[i].comment_size,
                  is_like: ret.data.member_dynamic[i].is_like,
                  like_size: ret.data.member_dynamic[i].like_size,
                  id: ret.data.member_dynamic[i].id,
                  file: ret.data.member_dynamic[i].file,
                  type: ret.data.member_dynamic[i].type,
                  audioIcon1: '../image/stop11.png',
                })
              }
              _this.qiuyue = ret.data.member_meet;
              _this.liwu = ret.data.member_gifts;
              _this.extra = ret.extra;
              _this.liveLabel = ret.data.live_line_s;
              _this.level_info = ret.data.level_info;
              _this.like_type_s = ret.data.like_type_s;
              _this.occupation_s = ret.data.occupation_s;
              if (_this.myInfo.audio != '') {
                _this.playVoice(_this.myInfo.audio);
              }
            } else {
              api.toast({
                msg: '网络错误，请稍后再试',
                duration: 2000,
                location: 'bottom'
              });
            }
          })
        },
        afferent: function (index) {
          this.indexOf = index
        },
        pophide: function () {
          this.popShow = false
        },
        pophide1: function () {
          this.popShow1 = false
        },
        popCl: function () {
          this.popShow = true
        },
        popCl1: function () {
          this.popShow1 = true
        },
        openreport: function () {
          var _this = this;
          api.openWin({
            name: 'report',
            url: 'report.html',
            bounces: false,
            pageParam: {
              member_id: _this.myInfo.member_id,
            }
          });
        },
        openphoto_frame: function (id) {
          var _this = this;
          api.openWin({
            name: 'photo_list_frame',
            url: 'photo_list_frame.html',
            bounces: false,
            pageParam: {
              id: id,
              member_id: _this.uid
            }
          });
        },
        // 更多
        openMore: function () {
          var _this = this;
          api.actionSheet({
            title: '',
            cancelTitle: '取消',
            destructiveTitle: '',
            buttons: ['分享', '举报']
          }, function (ret, err) {
            if (ret) {
              if (ret.buttonIndex == 1) {
                _this.share();
              }
              if (ret.buttonIndex == 2) {
                api.openWin({
                  name: 'report',
                  url: 'report.html',
                  pageParam: {
                    member_id: _this.myInfo.member_id,
                  }
                });
              }
            }
          });
        },
        //分享
        share: function () {
          var _this = this;
          var dialogBox = api.require('dialogBox');
          dialogBox.actionMenu({
            rect: {
              h: 150
            },
            items: [{
                text: '微信好友',
                icon: 'widget://image/circular-WeChat.png'
              },
              {
                text: '微信朋友圈',
                icon: 'widget://image/circle-friend.png'
              },
              {
                text: 'QQ空间',
                icon: 'widget://image/circular-qq_space.png'
              },
              {
                text: 'QQ好友',
                icon: 'widget://image/circular-QQ.png'
              }
            ],
            styles: {
              bg: '#FFF',
              column: 4,
              itemText: {
                color: '#000',
                size: 14,
                marginT: 15
              },
              itemIcon: {
                size: 60
              }
            },
            tapClose: true
          }, function (ret) {
            if (ret.index == 0) {
              var wx = api.require('wx');
              wx.shareWebpage({
                scene: 'session',
                title: _this.sharelist.title,
                description: _this.sharelist.content,
                thumb: _this.sharelist.img,
                contentUrl: _this.sharelist.url
              }, function (ret, err) {
                closdialg();
                if (ret.status) {
                  api.toast({
                    msg: '分享成功'
                  });
                } else {
                  api.toast({
                    msg: '分享失败'
                  });
                }
              });
            }
            if (ret.index == 1) {
              var wx = api.require('wx');
              wx.shareWebpage({
                scene: 'timeline',
                title: _this.sharelist.title,
                description: _this.sharelist.content,
                thumb: _this.sharelist.img,
                contentUrl: _this.sharelist.url
              }, function (ret, err) {
                closdialg();
                if (ret.status) {
                  api.toast({
                    msg: '分享成功'
                  });
                } else {
                  api.toast({
                    msg: '分享失败'
                  });
                }
              });
            }
            if (ret.index == 2) {
              var qq = api.require('QQPlus');
              qq.shareNews({
                type: 'QZone',
                url: _this.sharelist.url,
                title: _this.sharelist.title,
                description: _this.sharelist.content,
                imgUrl: _this.sharelist.url
              }, function (ret, err) {
                closdialg();
                if (ret.status) {
                  api.toast({
                    msg: '分享成功'
                  });
                } else {
                  api.toast({
                    msg: '分享失败'
                  });
                }
              });
            }
            if (ret.index == 3) {
              var qq = api.require('QQPlus');
              qq.shareNews({
                type: 'QFriend',
                url: _this.sharelist.url,
                title: _this.sharelist.title,
                description: _this.sharelist.content,
                imgUrl: _this.sharelist.url
              }, function (ret, err) {
                closdialg();
                if (ret.status) {
                  api.toast({
                    msg: '分享成功'
                  });
                } else {
                  api.toast({
                    msg: '分享失败'
                  });
                }
              });
            }
          })
        },
        // 点赞
        like: function (id, i) {
          var _this = this;
          $$.ajaxData('DynamicLike', {
            uid: $api.getStorage('uid'),
            trendes_id: id
          }, function (ret, err) {
            api.toast({
              msg: ret.msg,
              duration: 2000,
              location: 'bottom'
            });
            if (ret.status) {
              _this.getMemberInfo();
            }
          })
        },
        //播放视频
        openvedio_detail: function (file) {
          api.openWin({
            name: 'video_detail',
            url: 'video_detail.html',
            slidBackEnabled: false,
            pageParam: {
              file: file
            }
          });
        },
        getwechat: function () {
          api.alert({
            title: '提醒',
            msg: 'Ta的微信暂未认证',
            buttons: ['知道了']
          });
          return false;
        },
        //求约详情
        opendatedetails: function (id, member_id, type) {
          api.openWin({
            name: 'dating_details',
            url: 'dating_details.html',
            bounces: false,
            pageParam: {
              id: id,
              member_id: member_id,
              type: type,
            }
          });
        },
        //动态详情
        openDynamicDetail: function (id) {
          api.openWin({
            name: 'dynamic_detail',
            url: 'dynamic_detail.html',
            bounces: false,
            pageParam: {
              id: id
            }
          });
        },
        //暂停语音
        stopaudio: function () {
          var _this = this;
          api.stopPlay();
          _this.audioIcon = '../image/stop.png';
        },
        // 播放语音
        playVoice: function (audioUrl) {
          var _this = this;
          _this.audioIcon = '../image/playing.gif';
          api.download({
            url: audioUrl,
          }, function (ret, err) {
            if (ret.state == 1) {
              api.startPlay({
                path: ret.savePath
              }, function (ret, err) {
                _this.audioIcon = '../image/stop.png';
              });
            }
          });
        },
        //播放语音动态
        playVoice1: function (audioUrl, k) {
          var _this = this;
          _this.dongtai[k].audioIcon1 = '../image/playing2.gif';
          api.download({
            url: audioUrl,
          }, function (ret, err) {
            if (ret.state == 1) {
              api.startPlay({
                path: ret.savePath
              }, function (ret, err) {
                _this.dongtai[k].audioIcon1 = '../image/stop11.png';
              });
            }
          });
        },
        //私聊
        openIm: function () {
          var _this = this;
          _this.stopaudio();
          var tempExtra = {
            fromId: $api.getStorage('uid'),
            fromName: $api.getStorage('uname'),
            fromAvatar: $api.getStorage('uavatar'),
            toId: _this.myInfo.member_id,
            toName: _this.myInfo.name,
            toAvatar: _this.myInfo.avatar,
          }
          api.openWin({
            name: 'im',
            url: 'im.html',
            slidBackEnabled: false,
            pageParam: tempExtra
          });
        },
        //语音通话
        call: function (type) {
          var _this = this;
          _this.stopaudio();
          $$.ajaxData('ImCallStart', {
            uid: $api.getStorage('uid'),
            member_id: _this.myInfo.member_id,
            type: '1'
          }, function (ret, err) {
            api.toast({
              msg: ret.msg,
            });
            if (ret.status) {
              var tempExtra = {
                fromId: $api.getStorage('uid'),
                fromName: $api.getStorage('uname'),
                fromAvatar: $api.getStorage('uavatar'),
                toId: _this.myInfo.member_id,
                toName: _this.myInfo.name,
                toAvatar: _this.myInfo.avatar,
              };
              api.openFrame({
                name: 'call',
                url: 'call.html',
                rect: {
                  x: 0,
                  y: 0,
                  w: api.winWidth,
                  h: api.winHeight
                },
                progress: {
                  type: 'default'
                },
                pageParam: {
                  extra: tempExtra,
                  type: type,
                  u_info: ret.data.u_info,
                  m_info: ret.data.m_info,
                  u_extra: ret.extra
                },
                animation: {
                  type: 'movein',
                  subType: 'from_bottom',
                  duration: 300
                }
              });
            }
          })
        },
        //关注
        guanzhu: function () {
          var _this = this;
          api.showProgress({
            title: '',
            text: ''
          });
          $$.ajaxData('AddAttention', {
            member_id: api.pageParam.member_id,
            uid: $api.getStorage('uid'),
          }, function (ret, err) {
            api.hideProgress();
            if (ret.status) {
              api.toast({
                msg: ret.msg,
                duration: 2000,
                location: 'bottom'
              });
              _this.getMemberInfo();
            }
          })
        },
        getShareContent: function () {
          var _this = this;
          api.showProgress({
            title: '',
            text: ''
          });
          $$.ajaxData('MyShare', {
            member_id: api.pageParam.member_id,
          }, function (ret, err) {
            api.hideProgress();
            if (ret.status) {
              _this.sharelist = ret.data[0];
            }
          })
        },
        closdialg: function () {
          var dialogBox = api.require('dialogBox');
          dialogBox.close({
            dialogName: 'actionMenu'
          });
        },
        openGift_frame: function () {
          var _this = this;
          api.openFrame({
            name: 'gifts_frame',
            url: 'gifts_frame.html',
            rect: {
              x: 0,
              y: 0,
              w: api.winWidth,
              h: api.winHeight
            },
            pageParam: {
              gold: _this.extra.gold,
              member: _this.myInfo,
              costtype: 2,
            }
          });
        },
        openPayFrame: function (item) {
          this.popShow1 = false;
          api.openFrame({
            name: 'pay_frame',
            url: 'pay_frame.html',
            rect: {
              x: 0,
              y: 0,
              w: api.winWidth,
              h: api.winHeight
            },
            pageParam: {
              title: '购买微信',
              type: 'vip',
              con: item
            }
          });
        },
        generateMixed: function () {
          var _this = this;
          for (var i = 0; i < 15; i++) {
            var id = Math.ceil(Math.random() * 35);
            _this.res += _this.chars[id];
          }
          return _this.res;
        },
        close: function () {
          var myDate = new Date();
          var mytime = myDate.getHours();
          var _this = this;
          if (_this.extra.follow != 1) {
            if (!$api.getStorage(_this.res)) {
              api.confirm({
                title: '提醒',
                msg: '立即关注',
                buttons: ['关注', '三天内不提醒']
              }, function (ret, err) {
                if (ret.buttonIndex == 1) {
                  _this.guanzhu()
                  setTimeout(function () {
                    api.closeWin();
                  }, 1500);
                }
                if (ret.buttonIndex == 2) {
                  _this.mytime = new Date();
                  $api.setStorage(_this.res, true);
                  api.closeWin();
                }
              });
            } else {
              api.closeWin()
            }
          } else {
            api.closeWin()
          }
        },
        mytime: function () {
          var _this = this;
          var mytime1 = new Date();
          if (mytime1 - _this.mytime == 259200000) {
            _this.mytime = '';
            _this.generateMixed();
          }
        },
        uploadFiles: function (fileUrl) {
          var _this = this;
          api.ajax({
            url: qiniuBaseUrl,
            method: 'post',
            data: {
              values: {
                token: _this.qiniuToken
              },
              files: {
                file: fileUrl
              }
            }
          }, function (ret, err) {
            if (ret) {
              _this.audio = ret.key;
              _this.uploadAudio();
            }
            if (err) {
              api.toast({
                msg: '网络错误，请稍后再试',
                duration: 2000,
                location: 'bottom'
              });
            }
          });
        },
        voiceTouchstart: function () {
          this.voiceGif = true;
          api.startRecord({
            path: 'fs://ziyue_' + (+new Date()) + '.amr'
          });
        },

        voiceTouchend: function () {
          var _this = this;
          _this.voiceGif = false;
          api.stopRecord(function (ret, err) {
            if (ret) {
              _this.audio_timer = ret.duration;
              _this.audioUrl = ret.path;
              _this.uploadFiles(ret.path);
            }
          });
        },

        uploadAudio: function () {
          var _this = this;
          $$.ajaxData('MyAudio', {
            uid: $api.getStorage('uid'),
            audio: _this.audio,
            audio_timer: _this.audio_timer
          }, function (ret, err) {
            if (ret.status) {
              _this.getMemberInfo();
            }
          })
        }
      },
      filters: {
        timeFormat: function (value) {
          var now = new Date().getTime(),
            oldTime = new Date(value).getTime(),
            difference = now - oldTime;
          result = '',
            minute = 1000 * 60,
            hour = minute * 60,
            day = hour * 24,
            halfamonth = day * 15,
            month = day * 30,
            year = month * 12,
            _year = difference / year,
            _month = difference / month,
            _week = difference / (7 * day),
            _day = difference / day,
            _hour = difference / hour,
            _min = difference / minute;
          if (_year >= 1) {
            result = ~~(_year) + " 年前"
          } else if (_month >= 1) {
            result = ~~(_month) + " 个月前"
          } else if (_week >= 1) {
            result = ~~(_week) + " 周前"
          } else if (_day >= 1) {
            result = ~~(_day) + " 天前"
          } else if (_hour >= 1) {
            result = ~~(_hour) + " 小时前"
          } else if (_min >= 1) {
            result = ~~(_min) + " 分钟前"
          } else result = "刚刚";
          return result;
        },
      }
    })
  }

  function openGiftList() {
    api.openWin({
      name: 'gift_list',
      url: 'gift_list.html',
      bounces: false,
      pageParam: {
        id: api.pageParam.member_id
      }
    });
  }

  function openDynamicList() {
    api.openWin({
      name: 'dynamic_list',
      url: 'dynamic_list.html',
      bounces: false,
      pageParam: {
        id: api.pageParam.member_id
      }
    });
  }

  function openDatingList() {
    api.openWin({
      name: 'my_date',
      url: 'my_date.html',
      bounces: false,
      pageParam: {
        id: api.pageParam.member_id
      }
    });
  }

  function openPhotoList() {
    api.openWin({
      name: 'photo_list',
      url: 'photo_list.html',
      bounces: false,
      pageParam: {
        id: api.pageParam.member_id
      }
    });
  }

  function openVideoList() {
    api.openWin({
      name: 'video_list',
      url: 'video_list.html',
      bounces: false,
      pageParam: {
        id: api.pageParam.member_id
      }
    });
  }
</script>