<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<title>消息</title>
	<link rel="stylesheet" type="text/css" href="../css/api.css" />
	<link rel="stylesheet" type="text/css" href="../css/message.css" />
</head>

<body>
	<div id="app" v-cloak>
		<div class="nav-wrap">
			<nav id="nav" class="nav">
				<p @click="tab(1)" :class="[zIndex == 1 ? 'fSelected' :'']">
					<span>消息<em v-if="mBadge" class="messageBadge"></em></span>
				</p>
				<p @click="tab(2)" :class="[zIndex == 2 ? 'fSelected' :'']">
					<span>子约小秘书<em v-if="adminBadge" class="messageBadge"></em></span>
				</p>
			</nav>
		</div>
		<div class="message-wrap">
			<div class="sys-message-list" v-if="zIndex==1">
				<div class="sys-message-item" @click="openMyFriends">
					<i class="icon icon-miyou"></i>
					<div class="tiele">我的密友</div>
					<i class="iconfont icon-xiangyou"></i>
				</div>
				<div class="sys-message-item" @click="openDynamicList">
					<i class="icon icon-news"></i>
					<div class="tiele">约友动态</div>
					<i class="iconfont icon-xiangyou"></i>
				</div>
				<div class="sys-message-item" @click="openMyFollow">
					<i class="icon icon-follow"></i>
					<div class="tiele">我的关注</div>
					<i class="iconfont icon-xiangyou"></i>
				</div>
				<div class="message-list">
					<div v-for="(item, i) in conversationList" :key="i" class="message-item" @click="openIM(item)">
						<div class="avatar">
							<img :src="item | getAvatar" alt="">
							<span v-if="item.unreadMessageCount > 0" class="unreadMessageCount">{{item.unreadMessageCount}}</span>
						</div>
						<div class="message-info">
							<div class="name">{{item | getName}}
								<span class="time">{{item.sentTime | timeFormat}}</span>
							</div>
							<div class="info">
								<span v-if="item.objectName == 'RC:TxtMsg'">{{item.latestMessage.text}}</span>
								<span v-if="item.objectName == 'RC:ImgMsg'">[图片]</span>
								<span v-if="item.objectName == 'RC:VcMsg'">[语音]</span>
								<span v-if="item.objectName == 'RC:ImgTextMsg'">
									<em v-if="item.latestMessage.title == 'give_gift_message'">[礼物]</em>
									<em v-if="item.latestMessage.title == 'call_message'">[{{item.latestMessage.description}}]</em>
									<em v-if="item.latestMessage.title == 'dating_message'">[求约信息]</em>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="message-list" class="sys-message-list" v-if="zIndex==2">
				<div class="sys-message-item" @click="openAdminMessage">
					<i style="font-size:36px;color:#bf8988" class="iconfont icon-tubiaozhizuomoban">
						<span v-if="adminMessage.unreadMessageCount > 0" class="unreadMessageCount">{{adminMessage.unreadMessageCount}}</span>
					</i>
					<div class="tiele">重要通知</div>
					<i class="iconfont icon-xiangyou"></i>
				</div>
				<div class="sys-message-item" @click="openAdminMessage">
					<i style="font-size:36px;color: #efeee1" class="iconfont icon-tousu"></i>
					<div class="tiele">投诉举报</div>
					<i class="iconfont icon-xiangyou"></i>
				</div>
				<div class="sys-message-item" @click="openresponse">
					<i style="font-size:36px;color: #8bbed2" class="iconfont icon-yijianfankui"></i>
					<div class="tiele">意见与反馈</div>
					<i class="iconfont icon-xiangyou"></i>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script>
	var app, rong;
	apiready = function () {
		rong = api.require('rongCloud2');
		app = new Vue({
			el: '#app',
			data: {
				zIndex: 1,
				id: $api.getStorage('uid'),
				name: $api.getStorage('uname'),
				avatar: $api.getStorage('uavatar'),
				conversationList: [],
				adminMessage: {
					objectName: '',
					latestMessage: {
						extra: {},
						text: ''
					},
					unreadMessageCount: 0,
					sentTime: 0,
				},
				messageBadge: false,
				mBadge: false,
				adminBadge: false
			},
			created: function () {
				var _this = this;
				api.setRefreshHeaderInfo({
					bgColor: '#232121',
					textColor: '#fff',
					textDown: '下拉刷新...',
					textUp: '松开刷新...'
				}, function (ret, err) {
					if (!!$api.getStorage('token')) {
						setTimeout(function () {
							_this.getMessageList();
						}, 1000);
					}
				});
				api.addEventListener({
					name: 'refreshMessage'
				}, function (ret, err) {
					_this.getMessageList();
				})
				api.addEventListener({
					name: 'updateConversationList'
				}, function (ret, err) {
					_this.getMessageList();
				});
			},
			mounted: function () {
				var _this = this;
				_this.getMessageList();
			},
			methods: {
				tab: function (i) {
					var _this = this;
					_this.zIndex = i;
				},
				// 获取会话列表
				getMessageList: function () {
					var _this = this;
					api.showProgress({
						title: '',
						text: ''
					});
					rong.getConversationList(function (ret, err) {
						api.refreshHeaderLoadDone();
						api.hideProgress();
						if (ret.status == 'success') {
							var tempResult = [];
							for (var i = 0; i < ret.result.length; i++) {
								if (ret.result[i].senderUserId == 'admin') {
									_this.adminMessage = ret.result[i];
									// _this.adminMessage.objectName = ret.result[i].objectName;
									// _this.adminMessage.unreadMessageCount = ret.result[i].unreadMessageCount;
									// _this.adminMessage.sentTime = ret.result[i].sentTime;
									// _this.adminMessage.latestMessage.text = ret.result[i].latestMessage.text;
									// _this.adminMessage.latestMessage.extra = JSON.parse(ret.result[i].latestMessage.extra);
									if (ret.result[i].unreadMessageCount > 0) {
										_this.adminBadge = true;
									} else {
										_this.adminBadge = false;
									}
								} else {
									tempResult.push(ret.result[i]);
									if (ret.result[i].unreadMessageCount > 0) {
										_this.mBadge = true;
									} else {
										_this.mBadge = false;
									}
								}
								if (ret.result[i].unreadMessageCount > 0) {
									_this.messageBadge = true;
								} else {
									_this.messageBadge = false;
								}
							}
							_this.conversationList = tempResult;
							if (!_this.messageBadge) {
								api.sendEvent({
									name: 'cleanMessageBadge',
									extra: {
										key: 'value'
									}
								});
							}
						}
					})
				},

				// 打开im页面
				openIM: function (item) {
					api.openWin({
						name: 'im',
						url: 'im.html',
						pageParam: JSON.parse(item.latestMessage.extra)
					});
				},

				openreport: function () {
					api.openWin({
						name: 'report',
						url: 'report.html',
						slidBackEnabled: false
					});
				},

				openresponse: function () {
					api.openWin({
						name: 'response',
						url: 'response.html',
						bounces: false,
						pageParam: {
							key: 'value'
						}
					});
				},

				// 打开系统消息页面
				openAdminMessage: function () {
					api.openWin({
						name: 'admin_message',
						url: 'admin_message.html',
						pageParam: this.adminMessage.latestMessage.extra
					});
				},

				openMyFriends: function () {
					api.openWin({
						name: 'my_friends',
						url: 'my_friends.html',
						bounces: false,
						pageParam: {
							key: 'value'
						}
					});
				},

				openMyFollow: function () {
					api.openWin({
						name: 'my_follow',
						url: 'my_follow.html',
						bounces: false,
						pageParam: {
							key: 'value'
						}
					});
				},

				openDynamicList: function () {
					api.openWin({
						name: 'dynamic_list',
						url: 'dynamic_list.html',
						bounces: false,
						pageParam: {
							id: ''
						}
					});
				},

			},
			filters: {
				getAvatar: function (item) {
					var tempJson = JSON.parse(item.latestMessage.extra);
					if (tempJson.fromId == $api.getStorage('uid')) {
						return tempJson.toAvatar
					} else {
						return tempJson.fromAvatar;
					}
				},
				getName: function (item) {
					var tempJson = JSON.parse(item.latestMessage.extra);
					if (tempJson.fromId == $api.getStorage('uid')) {
						return tempJson.toName
					} else {
						return tempJson.fromName;
					}
				},
				timeFormat: function (value) {
					var now = new Date().getTime(),
						oldTime = new Date(value).getTime(),
						difference = now - oldTime,
						result = '',
						minute = 1000 * 60,
						hour = minute * 60,
						day = hour * 24,
						halfamonth = day * 15,
						month = day * 30,
						year = month * 12,
						_year = difference / year,
						_month = difference / month,
						_week = difference / (7 * day),
						_day = difference / day,
						_hour = difference / hour,
						_min = difference / minute;
					if (_year >= 1) {
						result = ~~(_year) + " 年前"
					} else if (_month >= 1) {
						result = ~~(_month) + " 个月前"
					} else if (_week >= 1) {
						result = ~~(_week) + " 周前"
					} else if (_day >= 1) {
						result = ~~(_day) + " 天前"
					} else if (_hour >= 1) {
						result = ~~(_hour) + " 小时前"
					} else if (_min >= 1) {
						result = ~~(_min) + " 分钟前"
					} else result = "刚刚";
					return result;
				},
			}
		})
	}
</script>