<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>我的</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/my.css" />
</head>

<body>
    <div id="app" v-cloak>
        <div id="wrap" class="flex-wrap flex-vertical">
            <div :class="['user-info', 'user' + myData.sex ]">
                <div class="login flex-wrap" @click="openMyinfo">
                    <div class="avatar">
                        <img :src="myData.avatar" alt="">
                    </div>
                    <div class="info">
                        <div class="name flex-wrap">
                            <span>{{myData.name}}</span>
                            <span style=" width: 22px;height: 22px;" v-if="myData.level == '1'"><img style="height: 70%;margin-bottom: -7px;"
								 src="../image/VIP.png" alt=""></span>
                            <span style="margin-left: 4px;">约ID:{{myData.member_random_id}}</span>
                            <span style="width: 16px;height: 16px;" v-if="myData.RandomIdStatus == 1"><img style="width: 100%;margin-bottom: -3px;"
								 src="../image/liang.png" alt=""></span>
                            <span style="width: 16px;height: 16px;" v-if="myData.RandomIdStatus == 2"><img style="width: 100%;margin-bottom: -3px;"
								 src="../image/shen.png" alt=""></span>
                        </div>
                        <div class="sign" v-if="myData.sale_column==null">暂无技能信息</div>
                        <div class="sign" v-else>{{myData.sale_column}}</div>
                    </div>
                </div>
            </div>
            <div class="banner">
                <p class="flex-wrap">
                    <i class="iconfont icon-tongzhi"></i><span>{{list[k].banner}}</span>
                </p>
            </div>
            <nav class="topnav flex-wrap">
                <p @click="tab(1)" :class="[zIndex == 1 ? 'fSelected' :'']">
                    <span>功能</span>
                </p>
                <p @click="tab(2)" :class="[zIndex == 2 ? 'fSelected' :'']">
                    <span>易约</span>
                </p>
                <p @click="tab(3)" :class="[zIndex == 3 ? 'fSelected' :'']">
                    <span>赚钱</span>
                </p>
            </nav>
            <div class="menu-list" v-if="zIndex==1">
                <div class="menu-item" @click="openMyWallet">
                    <i class="iconfont icon-qian"></i>
                    <div class="menu-info">
                        <div class="title">钱包</div>
                        <div class="info">{{myData.gold}}</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
                <div class="menu-item" @click="openMyVip">
                    <i class="iconfont icon-liebiaowodeiconvip"></i>
                    <div class="menu-info">
                        <div class="title">我的VIP</div>
                        <div class="info">{{myData.level | getStatus}}</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
                <div class="menu-item" @click="openMyGrade" style="margin-bottom:20px">
                    <i class="iconfont icon-dengji3"></i>
                    <div class="menu-info">
                        <div class="title">我的等级</div>
                        <div class="info">{{myData.member_charm_level}}</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
                <div v-if="myData.sex == 2" class="menu-item" @click="openMyMoney">
                    <i class="iconfont icon-jiageprice1"></i>
                    <div class="menu-info">
                        <div class="title">价格设置</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
                <div class="menu-item" @click="openMyGreet">
                    <i class="iconfont icon-xiaoxi"></i>
                    <div class="menu-info">
                        <div class="title">自动打招呼</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
                <div class="menu-item" @click="openMyStatus">
                    <i class="iconfont icon-dianhua1"></i>
                    <div class="menu-info">
                        <div class="title">通话状态设置</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
                <div class="menu-item" @click="openSetting" style="margin-top:20px">
                    <i class="icon icon-setting"></i>
                    <div class="menu-info">
                        <div class="title">账号设置</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
            </div>
            <div class="menu-list" v-if="zIndex==2">
                <div class="menu-item" @click="openMyPhotoList">
                    <i class="iconfont icon-img"></i>
                    <div class="menu-info">
                        <div class="title">我的相册</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
                <div class="menu-item" @click="openMyVideoList">
                    <i class="iconfont icon-shipin" style="font-size:26px"></i>
                    <div class="menu-info">
                        <div class="title">我的视频</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
                <div class="menu-item" @click="openMyDate" style="margin-top:20px">
                    <i class="iconfont icon-aiqingyuehui"></i>
                    <div class="menu-info">
                        <div class="title">我的求约</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
                <div class="menu-item" @click="openMyDynamicList">
                    <i class="iconfont icon-iconfontdongtaidianji" style="font-size:26px"></i>
                    <div class="menu-info">
                        <div class="title">我的动态</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
                <div v-if="myData.sex == 2" class="menu-item" @click="openMyAuth">
                    <i class="iconfont icon-renzheng1"></i>
                    <div class="menu-info">
                        <div class="title">我的认证</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
            </div>
            <div class="menu-list" v-if="zIndex==3">
                <div class="menu-item" @click="openmypromote">
                    <i class="iconfont icon-tuiguangzhuanqian"></i>
                    <div class="menu-info">
                        <div class="title">我的推广</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
                <div class="menu-item" @click="openShare">
                    <i class="iconfont icon-icon_share"></i>
                    <div class="menu-info">
                        <div class="title">免费获得钻石</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
                <div class="menu-item" @click="openPlayStrategy">
                    <i class="iconfont icon-gonglve1"></i>
                    <div class="menu-info">
                        <div class="title">子约玩法攻略</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
                <div class="menu-item" @click="openMyGiftList" style="margin-top:20px">
                    <i class="iconfont icon-gift"></i>
                    <div class="menu-info">
                        <div class="title">我的礼物</div>
                    </div>
                    <i class="iconfont icon-xiangyou"></i>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script>
    var app;
    apiready = function() {
        app = new Vue({
            el: '#app',
            data: {
                myData: {
                    sex: 2,
                    avatar: "../image/img1.png",
                    name: "木蓝茶陌",
                    member_random_id: 1824532697,
                    sale_column: "阳光总在风雨后",
                },
                zIndex: 1,
                list: [{
                    banner: '平台严打黄赌毒、恐怖暴力内容，一经发现永久封号。'
                }, {
                    banner: '为了您的财产安全，请到官方渠道充值，谨防诈骗。'
                }, {
                    banner: '官方只有app与官网充值渠道，充值比例为1:12左右。'
                }, {
                    banner: '为了保障您的佣金安全，请勿将账号密码泄露给他人。'
                }, {
                    banner: '为了财产安全，请勿相信任何私下转账行为，谨防诈骗。'
                }, ],
                k: 0,
            },
            created: function() {
                var _this = this;
                api.addEventListener({
                    name: 'refreshMy'
                }, function(ret, err) {
                    _this.getMyData();
                })
                api.setRefreshHeaderInfo({
                    bgColor: '#232121',
                    textColor: '#fff',
                    textDown: '下拉刷新...',
                    textUp: '松开刷新...'
                }, function(ret, err) {
                    _this.getMyData();
                });
            },
            mounted: function() {
                var _this = this;
                _this.getMyData();
                _this.bannerlist();
            },
            methods: {
                getMyData: function() {
                    var _this = this;
                    api.showProgress({
                        title: '',
                        text: ''
                    });
                    $$.ajaxData('My', {
                        uid: $api.getStorage('uid'),
                    }, function(ret, err) {
                        api.refreshHeaderLoadDone();
                        api.hideProgress();
                        if (ret.status) {
                            _this.myData = ret.data;
                        }
                    })
                },
                bannerlist: function() {
                    var _this = this;
                    setTimeout(function() {
                        _this.k++
                    }, 3000);
                    setTimeout(function() {
                        _this.k++
                    }, 6000);
                    setTimeout(function() {
                        _this.k++
                    }, 9000);
                    setTimeout(function() {
                        _this.k++
                    }, 12000);
                    setTimeout(function() {
                        _this.k = 0;
                        _this.bannerlist();
                    }, 15000);
                },

                tab: function(i) {
                    var _this = this;
                    _this.zIndex = i;
                },

                openMyWallet: function() {
                    api.openWin({
                        name: 'my_wallet',
                        url: 'my_wallet.html',
                        bounces: false,
                        pageParam: {
                            key: 'value'
                        }
                    });
                },

                openShare: function() {
                    api.openWin({
                        name: 'share',
                        url: 'share.html',
                        bounces: false,
                        pageParam: {
                            key: 'value'
                        }
                    });
                },

                openmypromote: function() {
                    var _this = this;
                    api.openWin({
                        name: 'mypromote',
                        url: 'mypromote.html',
                        bounces: false,
                        pageParam: {
                            myname: _this.myData.name,
                            myavatar: _this.myData.avatar,
                            mymember_random_id: _this.myData.member_random_id,
                            mysale_column: _this.myData.sale_column,
                        }
                    });
                },

                openMyVip: function() {
                    api.openWin({
                        name: 'my_vip',
                        url: 'my_vip.html',
                        bounces: false,
                        pageParam: {
                            key: 'value'
                        }
                    });
                },

                openMyGrade: function() {
                    api.openWin({
                        name: 'my_grade',
                        url: 'my_grade.html',
                        bounces: false,
                        pageParam: {
                            key: 'value'
                        }
                    });
                },

                openMyMoney: function() {
                    var _this = this;
                    api.openWin({
                        name: 'my_money',
                        url: 'my_money.html',
                        bounces: false,
                        pageParam: {
                            wechat_price: _this.myData.wechat_price,
                            price: _this.myData.price
                        }
                    });
                },

                openMyStatus: function() {
                    var _this = this;
                    api.openWin({
                        name: 'my_status',
                        url: 'my_status.html',
                        bounces: false,
                        pageParam: {
                            fake_status: _this.myData.fake_status,
                            level: _this.myData.level,
                        }
                    });
                },

                openMyPhotoList: function() {
                    api.openWin({
                        name: 'photo_list',
                        url: 'photo_list.html',
                        bounces: false,
                        pageParam: {
                            id: ''
                        }
                    });
                },

                openMyVideoList: function() {
                    api.openWin({
                        name: 'video_list',
                        url: 'video_list.html',
                        bounces: false,
                        pageParam: {
                            id: ''
                        }
                    });
                },

                openMyDynamicList: function() {
                    api.openWin({
                        name: 'dynamic_list',
                        url: 'dynamic_list.html',
                        bounces: false,
                        pageParam: {
                            id: 1
                        }
                    });
                },

                openMyDate: function() {
                    api.openWin({
                        name: 'my_date',
                        url: 'my_date.html',
                        bounces: false,
                        pageParam: {
                            id: ''
                        }
                    });
                },

                openPlayStrategy: function() {
                    api.openWin({
                        name: 'play_strategy',
                        url: 'play_strategy.html',
                        bounces: false
                    });
                },

                openMyAuth: function() {
                    var _this = this;
                    api.openWin({
                        name: 'my_auth',
                        url: 'my_auth.html',
                        bounces: false,
                        pageParam: {
                            wechat_identification: _this.myData.wechat_identification,
                            wechat: _this.myData.wechat
                        }
                    });
                },

                noopenMyAuth: function() {
                    api.alert({
                        title: '提醒',
                        msg: '暂时只对女性开放',
                        buttons: ['知道了']
                    });
                    return false;
                },
                openMyGiftList: function() {
                    api.openWin({
                        name: 'gift_list',
                        url: 'gift_list.html',
                        bounces: false,
                        pageParam: {
                            id: ''
                        }
                    });
                },

                openSetting: function() {
                    api.openWin({
                        name: 'setting',
                        url: 'setting.html',
                        slidBackEnabled: false
                    });
                },

                openMyinfo: function() {
                    api.openWin({
                        name: 'my_info',
                        url: 'my_info.html',
                        slidBackEnabled: false
                    });
                },

                openMyGreet: function() {
                    var _this = this;
                    api.openWin({
                        name: 'my_greet',
                        url: 'my_greet.html',
                        bounces: false,
                        pageParam: {
                            sex: _this.myData.sex,
                        }
                    });
                }

            },
            filters: {
                getStatus: function(value) {
                    if (value == '0') {
                        return '未开通';
                    }
                    if (value == '1') {
                        return '已开通';
                    }
                },
            }
        })
    }
</script>